body {
    background-color: #42c5f5;
}

#firstnav {
    background-color: white;

}



main {
    background-color: white;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 50;
    text-align: center;
}

#bookfile {
    text-align: left;
}

form {
    background-color: white;
}

#publishreview {
    background-color: yellow;
}
